/* Write your CSS here */

.img-style {
  border-radius: 20px;
  width: 250px;
  height: 250px;
}

.destination-item {
  list-style: none;
  margin: 20px;
}

.destination-name {
  color: #000000;
  font-family: 'open sans';
  text-align: center;
  font-weight: 500;
  margin: 15px;
}
